footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 209px;
}

.logomono{
    img{
        width: 122pxpx;
    }
}