@use "../../sass/utils/variables";

header{
    max-width: 1240px;
    width: 95%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$primary-color;

    .logo {
        img{
            height: 68px;
        }
    }
    
    nav{
        font-size: 24px;
        font-weight: 500;

        .list{
            list-style: none;
            display: flex;

            &__item{
                &:hover{
                    text-decoration: underline;
                }
                &:nth-child(1){
                    padding-right: 50px; 
                }
            }
        }
    }
}

@media screen and (max-width: variables.$breakpoint-tablette) {
    header{
        
        .logo {
            img{
                height: 58px;
            }
        }
        nav{
            font-size: 18px;  
        }
    }
}

@media screen and (max-width: variables.$breakpoint-mobile) {

    header{ 
        width: 90%;
        .logo {
            img{
                height: 47px;
            }
        }
        nav{
            font-size: 12px;   
            text-transform: uppercase;
        }              
    }
}

