@use "../../sass/utils/variables";

header{
    display: flex;
    justify-content: space-between;
    height: 200px;
    color: variables.$primary-color;
    margin-top: 40px;
    max-width: 1240px;
    height: 68px;
    margin-right: auto;
    margin-left: auto;
    
    .logo {
        img{
            height: 68px;
        }
    }
    
    nav{
        font-size: 24px;
        font-weight: 500;

        ul{
            list-style: none;
            display: flex;

            li:first-child{
                padding-right: 57px;
            }
        }
    }
}

