@use '../../sass/utils/variables';
@use '../../sass/utils/mixins';
@use '../../sass/base/animations';

.suspension {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;

    .point {
        font-size: 70px;
        font-weight: bold;
        color: variables.$primary-color;
        letter-spacing: 40px;
        animation: point 2s linear infinite;
        @include mixins.loadingdelay(1, 3);
    }    
}