@use '../../sass/utils/variables';


.menu-container{
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    max-height: 50%;
    margin-bottom: 200px;

    &:nth-child(1){
        margin-right: 60px;
    }

    &__accommodation{
        border-radius: 10px;
        background-color: variables.$primary-color;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;

        &__title{
            color: white;
            font-size: 18px;
            font-weight: 500;
            padding-left: 20px;
        }

        & img{
            position: absolute;
            right: 10px;
            transform-origin: center;
            transform: rotate(0deg);
        }

        .active {
            transform: rotate(180deg);        
        }
    }

    &__content{
        display: none;
        position: absolute;
        width: 100%;
        top : 50px;
        color: variables.$primary-color;
        background-color: #F6F6F6;
        border-radius: 10px;
        z-index: -111;

        &__text{
            font-size: 18px;
            font-weight: 400;
            padding: 10px 12px 20px 20px;
        }
    }

    .active {
        display: block;      
    }

}

.menuAbout{
    width: 1023px;
    height: 47px;
    border-radius: 10px;
    background-color: variables.$primary-color;
}

@media screen and (max-width: variables.$breakpoint-mobile) {
    .menu-container{
        &:nth-child(1){
            margin-right: 0px;
        }
    }
}


