.menu_col_45{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.menu_col_80{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.menu_col_100{
    display: flex;
    flex-direction: column;
    width: 100%;
}