$primary-color: #FF6060;
$secondary-color: #f7f7f7;
$tertiary-color: #FFFFFF;
$footer-color: #000000;

$text-font: 'Montserrat';


$linear-card: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

$breakpoint-mobile: 769px;



