@use '../sass/utils/variables';

.notification-item{
    box-shadow:  0 0 5px rgba($color: #000000, $alpha: 0.4);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: white;
    animation: SlideLeft 0.2s forwards;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 60px;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        width: 330px;
    }
    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: 290px;
    }

    & p{
        flex: 3;
        margin: 0;
        padding: 10px 0 0 10px;
        font-size: 15px;

        @media screen and (max-width: variables.$breakpoint-tablette) {
            font-size: 14px;
        }
        @media screen and (max-width: variables.$breakpoint-mobile) {
            font-size: 12px;
        }
    }

    .bar{
        flex: 1;
    }
}


.notification-item.exit{    
    animation: SlideRight 0.2s forwards;
}

.notification-item.success .bar{    
    background-color: rgb(33, 160, 33);
}

.notification-item.error .bar{
    background-color: tomato;
}

@keyframes SlideLeft{
    0%{
        margin-left: 120%;
    }

    100%{
        margin-left: 0;
    }
}

@keyframes SlideRight{
    0%{
        margin-left: 0;
    }

    100%{
        margin-left: 120%;
    }
}


