@use '../../sass/utils/variables';

.container{
    background-color: variables.$secondary-color;
    border-radius: variables.$big-radius;
    padding-top: 25px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        margin-top: 40px;
    }
    @media screen and (max-width: variables.$breakpoint-mobile) {
        background-color: white;
        margin-top: 0px;
    }
}

