@use '../../sass/utils/variables';

.container{
    background-color: variables.$secondary-color;
    border-radius: 25px;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: variables.$breakpoint-tablette) {
    // .container{    
    //     max-width: 95%;
    // }
}

@media screen and (max-width: variables.$breakpoint-mobile) {
    // .container{   
    //     max-width: 90%; 
    //     background-color: white;
    // }
}