@use '../../sass/utils/variables';
@use '../../sass/utils/mixins';

.card {
    width: 340px;
    height: 340px;
    min-width: 340px;
    border-radius: variables.$medium-radius;
    color: white;
    margin: 2% auto;
    display: flex;
    align-items: flex-end;
    position: relative; 

    @media screen and (max-width: variables.$breakpoint-tablette) { 
        width: 20%;
        margin: auto;
        min-width: 310px;
        min-height: 310px;
        margin: 40px 20px;
    }
    @media screen and (max-width: variables.$breakpoint-mobile) {
        width: 100%;
        min-width: 270px;
        height: 255px;
        min-height: 255px;
        margin: 20px 0px;
    }

    a{
        @include mixins.fullSize;
    }
    

    &__title {
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-size: 18px;
        font-weight: 500;
    }
    
    &__layer {
        @include mixins.fullSize;
        background: variables.$linear-card;
        border-radius: variables.$medium-radius;
   
        img {
            @include mixins.fullSize;
            border-radius: variables.$medium-radius;
            object-fit: cover;
        }
    }
}