@use '../../sass/utils/variables';

.container{
    color: variables.$primary-color;

    .container-title-host{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        &__title{
            font-size: 36px;
            margin: 0;
        }
    
        &__host{
            display: flex;
            &__name{
                font-size: 18px;
                font-weight: 500;
            }
            &__picture{
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }
    }

    .location{
        font-size: 18px;
        margin: 0;
        margin-bottom: 23px;
    }

    .tagsAndRates{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__tags{
            color: white;
            font-size: 14px;
            display: flex;
            
            &__item{
                width: 140px;
                height: 32px;
                border-radius: 10px;
                background-color: variables.$primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }
        }

        &__rating{
            font-size: 50px;
        }
    }
        
    .dropdowns{
        display: flex;
        justify-content: space-between;
    }
}