@use '../../sass/utils/variables';

.container-pictures{
    border-radius: variables.$big-radius;
    margin: 40px auto 20px auto;
    max-height: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        max-height: 330px;    
    }
    @media screen and (max-width: variables.$breakpoint-mobile) {
        max-height: 255px;    
    }
}

.container{
    color: variables.$primary-color;
    .container-general{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: variables.$breakpoint-tablette) {
            flex-direction: column;     
        }
        .container-infos{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            
            &__title{
                font-size: 36px;
                margin: 0;
                width: 100%;
                
                @media screen and (max-width: variables.$breakpoint-tablette) {
                    font-size: 30px;
                }
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    font-size: 18px;                       
                }
            }

            &__location{
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 23px;
                
                @media screen and (max-width: variables.$breakpoint-tablette) {
                    font-size: 16px;
                }
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    font-size: 14px;    
                }
            }

            &__tags{
                display: flex;
                flex-wrap: wrap;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 15px;
                    
                @media screen and (max-width: variables.$breakpoint-tablette) {
                    font-size: 13px;
                }  
                
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    font-size: 12px;
                }

                &__item{
                    width: 140px;
                    height: 32px;
                    border-radius: variables.$medium-radius;
                    background-color: variables.$primary-color;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 2px;  
                    
                    @media screen and (max-width: variables.$breakpoint-mobile) {
                        height: 30px;   
                        width: 120px;
                    }
                }
            }
        }

        .container-host-rate{
            margin-top: 20px;
            
            @media screen and (max-width: variables.$breakpoint-tablette) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }

            @media screen and (max-width: variables.$breakpoint-mobile) {
                margin-top: 0;
            }

            &__host{
                display: flex;
                padding-top: 10px;
                justify-content: space-between;
                
                &__name{
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 10px;
                    width: 95px;

                    @media screen and (max-width: variables.$breakpoint-tablette) {
                        font-size: 15px;
                        width: 75px;
                    }
                    @media screen and (max-width: variables.$breakpoint-mobile) {
                        font-size: 12px;
                        width: 60px;
                        padding-left: 0px;
                    }
                }

                &__picture{
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    @media screen and (max-width: variables.$breakpoint-tablette) {
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                    }
                    @media screen and (max-width: variables.$breakpoint-mobile) {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
            }
            
            &__rating{
                display: flex;
                height: 38px;
                margin-top: 10px;  
                
                @media screen and (max-width: variables.$breakpoint-tablette) {
                    height: 30px;
                }
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    height: 20px;
                }
            
            }
        }
    }
    .dropdowns{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        
        @media screen and (max-width: variables.$breakpoint-mobile) {
            flex-direction: column;
            margin-bottom: 20px;
        }
    }
}
