@use '../../sass/utils/variables';
@use '../../sass/utils/mixins';
@use '../../sass/base/animations';

.slide{
    position: relative;
    white-space: nowrap;
    @include mixins.fullSize;


    &__next-previous{
       
        &__prev{    
            @include mixins.absoluteCenterY;       
            left:20px;
            z-index: 999;
            cursor: pointer;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                height: 70px;
            }
            @media screen and (max-width: variables.$breakpoint-mobile) {
                height: 50px;
            }
        }
        
        &__next{ 
            @include mixins.absoluteCenterY;            
            right:20px;
            z-index: 999;
            cursor: pointer;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                height: 70px;
            }
            @media screen and (max-width: variables.$breakpoint-mobile) {
                height: 50px;
            }    
        }
    }

    &__content{
        transition: 1s;
        position: relative;
        height: 415px;
 
        &__item{ 
            @include mixins.fullSize;
            display: inline-block;
        
            & img{
                @include mixins.fullSize;

                @media screen and (max-width: variables.$breakpoint-tablette) {
                    object-fit: cover;
                }
            }
        }
    }
}




