@use '../../sass/utils/variables';
@use '../../sass/utils/mixins';
@use '../../sass/base/animations';

.container{
    @include mixins.fullSize;
    position: relative;

    &__next-previous{
       
        &__prev{    
            @include mixins.absoluteCenterY;       
            left:20px;
            z-index: 999;
            cursor: pointer;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                height: 70px;
            }
            @media screen and (max-width: variables.$breakpoint-mobile) {
                height: 50px;
            }
        }
        
        &__next{ 
            @include mixins.absoluteCenterY;            
            right:20px;
            z-index: 999;
            cursor: pointer;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                height: 70px;
            }
            @media screen and (max-width: variables.$breakpoint-mobile) {
                height: 50px;
            }    
        }
    }

    &__img{
        @include mixins.fullSize;

        & img{
            position: absolute;
        }
    }
    
    &__slide{  
        @include mixins.fullSizeCoverImg;
        opacity: 0;  
    }
}

.neutral{
    @include mixins.fullSizeCoverImg;
}
.nextactive{
    @include mixins.fullSizeCoverImg;
    animation: slideEffect 1s forwards ;
}

.prevactive{
    @include mixins.fullSizeCoverImg;
    animation: slideEffect2 1s forwards ;
}


