@use '../../sass/utils/variables';
@use '../../sass/utils/framework';

.container{
    &__houseDetails, &__about{    
        margin-top: 2%;  
  
        @media screen and (max-width: variables.$breakpoint-mobile) {      
            width: 100%;
            margin-bottom: 10px;
        }

        &__element{
            background-color: variables.$primary-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            width: 100%;
            height: 47px;

            @media screen and (max-width: variables.$breakpoint-tablette) {
                height: 40px;
            }
            @media screen and (max-width: variables.$breakpoint-mobile) {
                height: 30px;
            }

            &__title{
                color: white;
                font-size: 18px;
                font-weight: 500;
                padding-left: 20px;
                
                @media screen and (max-width: variables.$breakpoint-tablette) {
                    font-size: 15px;
                }
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    font-size: 13px;
                }
            }

            & img{
                transform: rotate(180deg);
                margin-right: 10px;

                @media screen and (max-width: variables.$breakpoint-tablette) {
                    height: 22px;
                }
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    height: 18px;
                }
            }
        }

        &__content{
            display: none;
            color: variables.$primary-color;
            background-color: variables.$fourth-color;
            margin-top: -15px;
            z-index: -999;

            &__text{
                font-size: 18px;
                font-weight: 400;
                padding: 30px 12px 30px 20px;

                @media screen and (max-width: variables.$breakpoint-tablette) {
                    font-size: 15px; 
                }
                @media screen and (max-width: variables.$breakpoint-mobile) {
                    font-size: 13px;    
                }
            }
        }

        .active {
            display: block;
            transform: rotate(0deg);       
        }
    }
}



