@use '../../sass/utils/variables';
@use '../../sass/utils/mixins';

.banner{
    width: 100%;
    height: 223px;
    min-width: 300px;
    max-height: 223px;
    border-radius: variables.$big-radius;
    position: relative;

    @media screen and (max-width: variables.$breakpoint-tablette) {
        max-height: 200px;
    }

    @media screen and (max-width: variables.$breakpoint-mobile) {
        border-radius: variables.$medium-radius;
        max-height: 111px;
        margin: 40px auto 0px auto;
        min-width: 270px;
    }

    &__title{
        @include mixins.absoluteCenter;
        color: variables.$secondary-color ;
        margin: 0;
        z-index: 2;
        font-size: 39px;
        font-weight: 500;
        text-align: center;

        @media screen and (max-width: variables.$breakpoint-tablette) {
            font-size: 30px;
        }

        @media screen and (max-width: variables.$breakpoint-mobile) {
            font-size: 24px;
        }
    }

    &__background{
        position: absolute;
        @include mixins.fullSize;
        border-radius: variables.$big-radius;
        background: rgba(0, 0, 0, 1);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        opacity: 30%;

        @media screen and (max-width: variables.$breakpoint-mobile) {        
            border-radius: variables.$medium-radius; 
        }
    }
    
    & img{
        position: absolute;
        @include mixins.fullSize;
        border-radius: variables.$big-radius;
        top: 0;
        z-index: -1;

        @media screen and (max-width: variables.$breakpoint-mobile) {
            border-radius: variables.$medium-radius;
        }
    }
}